body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

header form {
    display: flex;
}

header form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
}

header form button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: #f2f2f2;
}

.hero img {
    max-width: 100%;
}

.hero button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.brands {
    text-align: center;
    padding: 50px 0;
}

.brand-logos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.brand-logos img {
    width: 100px; /* Điều chỉnh kích thước logo theo ý muốn */
    margin: 0 20px;
}

.brand-info {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.brand-info p {
    max-width: 300px; /* Giới hạn chiều rộng để tránh quá dài */
    margin: 0; /* Đặt lại margin để tránh khoảng cách không cần thiết */
    padding: 0 10px; /* Thêm padding để tạo khoảng cách giữa các đoạn văn */
}

footer {
    background-color: #f2f2f2;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.footer-item {
    text-align: center;
}

.footer-item i {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}
